aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
  transform: translate(10px, -10px);
  font-family: 'Roboto', sans-serif;
}

aside > p {
  margin: 0.5rem;
}
footer {
  font-family: 'Roboto', sans-serif;
}






header {
  background-color: #3d91c2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2em;
  padding: 0em;
  margin-bottom: 1em;
  position:fixed;
  z-index: 1;
  background-size: 100%;
  font-family: 'Roboto', sans-serif;


left:0;

top:0;

width: 100%;


  
}

.burger-container {
  width: 50px;
  height: 50px;
  position: relative;
  padding-right: 200px;
  transform: translateX(190px);


  margin-left: -200px;
}

.burger-button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  transform: translate(1px, 0px);
    

}


.burger-line {
  width: 80%;
  height: 4px;
  background: rgba(219, 219, 219, 0.699);
  position: absolute;
  left: 10%;
  right: 10%;
  transition: all 0.3s;
  border-radius: 20%;
  
}

.burger-line:first-child {
  top: 20%;
}

.burger-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger-line:last-child {
  bottom: 20%;
}


.burger-button:focus .burger-line:first-child {
  transform: translateY(12px) rotate(45deg);
}

.burger-button:focus .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-button:focus .burger-line:last-child {
  transform: translateY(-12px) rotate(-45deg);
}




.logo {
  transform: translateX(10px);
  cursor: pointer;
  margin-right: 400px;
  width: 60px;
  height: 60px;
  
  
}

.nav {
  display: flex;
  justify-content: start;
  column-gap: 2em;
  transform: translateX(-200px);
  
}

.grow {
  flex-grow: 1;
}

a {
  color: white;
  text-decoration: none;
  
}

a:hover {
  color: lightgrey;
}

a.active {
  background-color: #666;
}






body {  
  display: flex;
  flex-direction: column; 
  gap: 2rem;
  background-color: hsl(194, 84%, 46%);
  padding: 4em;
  
}




h1,
h2 {
  display: grid;
  grid-template-columns: auto;
  margin: 0;
}




.gallery {
  font-family: 'Roboto', sans-serif;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 200px;
    grid-template-areas:"textone item";
    grid-gap: 100px; 
    
}
    .textone {
      transform: translate(350px, -190px);
margin-left: 60px;
word-break: break-all;
overflow-wrap: break-word;
hyphens: auto;
position: absolute;



}


.texttwo{
  transform: translate(-250px, -190px);
  margin: 10 px;
  word-break: break-all;
  overflow-wrap: break-word;
  hyphens: auto;
}




  .textthree {
    transform: translate(330px, -190px);
    margin: 10 px;
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;

  }
  
.item {
grid-column: 2;


}



.textfour{
  transform: translate(-250px, -190px);
margin: 10 px;
}

.item{
  grid-column: 2;
}

  .text {
    display: grid;
    grid-column: 1 / 2; 
    grid-row: 2 / 3; 
    position: absolute;
    grid-gap: 10px;   
    right: 30%;
  }
  
  
  
  .item:nth-child(odd) { 
    grid-column: span 2; 
    justify-self: start; 
  }
  
  .item:nth-child(even) { 
    grid-column: 2 / 4; 
    justify-self: end; 
  }
  

.gallery li {
  list-style-type: none;



}
.item img {
  display: block;
  width: 100%;
  height:100%;
  list-style-type: none;
  border: 3px dashed white;
  border-radius: 40px;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.item:hover img {
  transform: scale(1.1);
}




img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  
 

}
@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
   .burger-line {
    width: 120%;
    height: 3px;
} 
.burger-container {
  transform: translateX(170px);

}

}
@media (min-width: 768px) and (max-width: 991px) {
  
  .burger-line {
    width: 120%;
    height: 3px;
} 
.burger-container {
  transform: translateX(170px);

}
aside{
  transform: translate(10px, -20px);

}
}
@media (min-width: 480px) and (max-width: 767px) {
  .burger-line {
    width: 120%;
    height: 3px;
} 
.burger-container {
  transform: translateX(170px);

}
aside{
  transform: translate(10px, -20px);

}
}


@media (min-width: 320px) and (max-width: 479px) {
  .burger-line {
    width: 120%;
    height: 3px;
} 
.burger-container {
  transform: translateX(170px);

}
aside{
  transform: translate(-180px, 40px);

}
article{
  transform: translate(-60px, 40px);

}
.item:nth-child(odd){
  transform: translate(50px, 40px);


}
.item:nth-child(even) { 
  transform: translate(285px, 40px);


}
.textone{
  transform: translate(100px, -190px);
  word-break: break-all;
  overflow-wrap: break-word;
  hyphens: auto;
  
}

.texttwo{
  transform: translate(165px, -190px);
  word-break: break-all;
  overflow-wrap: break-word;
  hyphens: auto;

}
.textthree{
  word-break: break-all;
  overflow-wrap: break-word;
  hyphens: auto;
  transform: translate(165px, -190px);
}
  

  .textfour{
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
    transform: translate(165px, -190px);
  }
  .logo{

    width: 30px;
  height: 30px;

  }
}
